^{:watch-dirs          ["src/cljs"]
  :css-dirs            ["resources/public/css"]
  :ring-server-options {:port 3000}}
{:main                 shopping-list.core
 :output-to            "resources/public/js/main.js"
 :output-dir           "resources/public/js/out"
 :asset-path           "js/out"
 :optimizations        :none}
