<form [formGroup]="form">
  <mat-form-field>
    <input type="text"
           placeholder="Выберите медикамент"
           aria-label="Number"
           matInput
           formControlName="drug"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="drugName">
      <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
        {{drug.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
