:host {
  display: block;
}

.form-row {
  margin: 8px 0px;

  label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }

  textarea, input {
    width: 200px;
  }
}

a {
  color: rgba(0, 0, 0, 0.87);
}

.drug-title {
  font-weight: 500;
}

.schedule-event {
  font-style: italic;
}

.new-link {
  font-weight: lighter;
}
