<form (ngSubmit)="onSubmit()" #editForm="ngForm">
  <div class="form-row">
    <label for="issuer">Кем выдан</label><input id="issuer" name="issuer" [(ngModel)]="recipe.issuer" type="text" required minlength="1">
  </div>
  <div class="form-row">
    <label for="description">Описание</label><textarea id="description" name="description" [(ngModel)]="recipe.description" required minlength="1"></textarea>
  </div>
  <div class="schedules">
    <app-schedule [schedule]="schedule"></app-schedule>
  </div>
  <div class="buttons">
    <input type="submit" [disabled]="!editForm.form.valid" value="Сохранить">
  </div>
</form>
