<div [hidden]="mode != 'data'">
  <app-recipe-data [recipe]="recipe" #recipeData (save)="onRecipeSave()"></app-recipe-data>
  <p *ngIf="this.schedules.length == 0">
    You need to <a (click)="addSchedule()" href="#">add</a> at least one schedule.
  </p>
  <div *ngIf="schedules.length > 0">
    <h3>Schedules</h3>
    <div *ngFor="let schedule of schedules">
      <div>{{schedule.package?.drug?.name}}, {{schedule.package?.displayName}}</div>
      <div *ngFor="let event of schedule.events">
        {{event.description}}
      </div>
    </div>
    <a (click)="addSchedule()" href="#">Add new schedule.</a>
  </div>
  <div class="buttons">
    <input type="submit" (click)="recipeData.doSubmit()" [disabled]="!valid" value="Сохранить">
  </div>
</div>
<div *ngIf="mode == 'schedule'">
  <app-schedule-edit #scheduleEditComponent (createSchedule)="onCreateSchedule(scheduleEditComponent, $event)"></app-schedule-edit>
</div>
