<h2>New Schedule</h2>
<form [formGroup]="form" (submit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text"
             placeholder="Медикамент"
             aria-label="Number"
             matInput
             formControlName="drug"
             required
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="drugName" (optionSelected)="onDrugSelected($event)">
        <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
          {{drug.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="selectedDrugPackage">
        <mat-label>Упаковка</mat-label>
        <mat-option *ngFor="let drugPackage of filteredDrugPackages | async" [value]="drugPackage">
          {{drugPackage.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <div *ngIf="selectedDrugPackage">
    <h3>Расписания</h3>
    <div *ngFor="let event of schedule.events">
      {{event|scheduleEvent}}
    </div>
    <mat-form-field>
      <input type="text"
             class="schedule-input"
             placeholder="Расписание"
             aria-label="Number"
             (change)="checkAutoAddScheduleEvent()"
             (keydown.escape)="checkCancel(scheduleAutocomplete.isOpen)"
             #scheduleInput
             matInput
             [formControl]="scheduleControl"
             [matAutocomplete]="scheduleAutocomplete">
      <mat-autocomplete autoActiveFirstOption #scheduleAutocomplete="matAutocomplete" panelWidth="200" (optionSelected)="onScheduleSelected()">
        <mat-option *ngFor="let schedule of filteredSchedules | async" [value]="schedule[1]">
          {{schedule[0]}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <p class="buttons">
    <input type="submit" value="Добавить">
  </p>
</form>
