<h2>New Schedule</h2>
<form [formGroup]="form">
  <p>
    <mat-form-field>
      <input type="text"
             placeholder="Медикамент"
             aria-label="Number"
             matInput
             formControlName="drug"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="drugName">
        <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
          {{drug.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="text"
             placeholder="Прием"
             aria-label="Number"
             #scheduleInput
             matInput
             [formControl]="scheduleControl"
             [matAutocomplete]="scheduleAutocomplete">
      <mat-autocomplete autoActiveFirstOption #scheduleAutocomplete="matAutocomplete" panelWidth="200" (optionSelected)="onScheduleSelected()">
        <mat-option *ngFor="let schedule of filteredSchedules | async" [value]="schedule[1]">
          {{schedule[0]}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>
</form>
