:host {
  display: block;
}

.header {
  background-color: #bf360c;
  color: white;

  li {
    display: inline-block;
  }

  h2, nav {
    display: inline-block;
  }

  nav {
    a {
      color: white;
      display: inline-block;
      padding: 0 8px;
      font-size: 20px;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.header, .content {
  padding: 8px 16px;
}
